body {
  text-align: center;
  font-stretch: ultra-expanded;
  background-color: slategray;
  background-image: url("index.jpeg");
  background-blend-mode: screen;
}

label {
  font-family: fantasy;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-stretch: narrower;
}

button {
  font-family: fantasy;
}

a {
  color: darkred;
  font-size: larger;
}

.App {
  text-align: center;
}

.playArea {
  display: flex;
  justify-content: space-evenly;
}